

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-details-text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  color: #213F7D;
}

.close-modal-icon {
  color: #989FB1;
  opacity: 0.7;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-right: 20px;
}