

.side-menu {
  width: 240px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.0276834);
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.right-content {
  margin-left: 240px;
}

